body{
    width:100%; 
    text-align:center; 
   margin-top: 450px;
   background-color: silver;
   text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
}

h1{
       font-size: 50px;
       animation: kuizu 0.1s linear infinite;
}
    
    @keyframes kuizu{
     0%{
     transform: translate(0px, 0px) rotateZ(0);
     }
     25%{
        transform: translate(4px, 4px) rotateZ(1deg);
     }
     50%{
        transform: translate(0px, 2px) rotateZ(0);
     }
     75%{
        transform: translate(4px,0px) rotateZ(-1deg);
     }
     100%{
        transform: translate(0px, 0px) rotateZ(0);
     }
    
}

.btn{
    border: 2px solid ; 
    border-radius: 10px;   
    width: 100px;
    display: inline-block;
    a{
        text-decoration: none;
         display: inline-block;
         
    }
 }
 
  a:hover{
     color: tomato;
     animation: starts 0.1s linear infinite;
 }
 
 @keyframes starts{
  0%{
  transform: translate(0px, 0px) rotateZ(0);
  }
  25%{
     transform: translate(3px, 3px) rotateZ(1deg);
  }
  50%{
     transform: translate(0px, 2px) rotateZ(0);
  }
  75%{
     transform: translate(2px,0px) rotateZ(-1deg);
  }
  100%{
     transform: translate(0px, 0px) rotateZ(0);
  }
 
 }

.box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(46, 45, 45);
    animation: animate 30s linear infinite;
    bottom: -150px;
}

.box li:nth-child(1){
    left: 25%;
    width: 50px;
    height: 50px;
    animation-delay: 0s; //アニメーションがいつ始まるか指定
}

.box li:nth-child(2){
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 12s;
}

.box li:nth-child(3){
    left: 10%;
    width: 45px;
    height: 45px;
    animation-delay: 8s;
}

.box li:nth-child(4){
    left: 80%;
    width: 25px;
    height: 25px;
    animation-delay: 10s;
}

.box li:nth-child(5){
    left: 50%;
    width: 75px;
    height: 75px;
    animation-delay: 6s;
}

.box li:nth-child(6){
    left: 45%;
    width: 65px;
    height: 65px;
    animation-delay: 11s;
}

.box li:nth-child(7){
    left: 90%;
    width: 20px;
    height: 20px;
    animation-delay: 12s;
}

.box li:nth-child(8){
    left: 73%;
    width: 33px;
    height: 33px;
    animation-delay: 10s;
}

.box li:nth-child(9){
    left: 60%;
    width: 66px;
    height: 66px;
    animation-delay: 2s;
}

.box li:nth-child(10){
    left: 55%;
    width: 90px;
    height: 90px;
    animation-delay: 7s;
}

@keyframes animate {
    0%{
        opacity: 1; //不透明度
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 60%;
    }
}


